*{
    /* border: 1px solid red; */
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 252, 250);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-top: 100px;
    padding: 5px;
}

/* form container */

.form-container{
    border: 1px solid lightgray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 350px;
    height: auto;
    padding: 15px;
}

#title{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.heading{
    margin-top: 2px;
    padding: 0.125%;
    font-size: xx-large;
    font-style: normal;
    font-weight: lighter;
    margin-bottom: 2px;
}

.signin-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%;
}

.email{
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
}

#email{
    font-weight: bold;
    padding-bottom: 5px;
}

input{
    padding: 5px;
    border-width: 1px;
    border-color: lightgray;
    border-style: inset;
    border-radius: 3px;
}

button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
    border-color: lightgray;
    border-width: 1px;
    padding: 5px;
    width: 100%;
    background-color: rgb(255, 200, 0);
}

/* extra help */

.extra-help{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
}

#extra-help{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    font-size:larger;
    font-weight: lighter;
    margin-bottom: 0px;
    margin-top: 15px;
    padding: 0px;
}

#extra-help-info{
    align-items: left;
    width: 100%;
    padding: 0px;
}

/* footer */

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.foot{
    width: 100%;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
    padding: 10px;
    margin: 10px;
}